# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Drag-N-Drop.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Study\Coding(Practice+Projects)\Unity\Unity Projects (Git)\Drag-N-Drop\.idea\.idea.Drag-N-Drop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
